@using ToDoList.Domain.Enum
@{
    ViewData["Title"] = "Home Page";
}
<h4 class="mb-3 text-muted">Создание задачи</h4>
<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-label">Название задачи</label>
        <input name="Name" type="text" class="form-control" />
    </div>
    <label class="form-label">Приоритет задачи</label>
    <select name="Priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    <div class="mb-3">
        <label class="form-label">Описание задачи</label>
        <textarea name="Description" type="text" class="form-control" rows="3"></textarea>
    </div>
    <button id="createTask" class="btn btn-primary">Создать</button>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#createTask').on('click', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("Create", "Task")',
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded',
                    data: $('#createTaskForm').serialize()
                })
            });
        });
    </script>
}